@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,400&display=swap');

:root{

    --text-white: #fff;
    --text-dim: hsla(0, 0%, 100%, 0.6);
    --text-color: hsla(0,0%,100%,.8);
    --home-color: #1d2023;
    --flatbox-color: #23262a;
    --workspace-color: #171719;
    --menu-color: #202225;
    --panel-color: #292c31;
    --title-color: #24262b;

    --button-color: #ffffff20;
    --button-color-hover: #ffffff30;

    /*
    --light: white;
    --color1: rgb(230, 230, 230, 90);
    --color2: rgb(217, 217, 217, 85);
    --color3: rgb(191, 191, 191, 75);
    --color4: rgb(153, 153, 153, 60);
    --color5: rgb(89, 89, 89, 35);
    --dark: #222222;
    */
    --small: 0.8rem;
    --medium: 1.2rem;
    --large: 1.5rem;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

.menu{
    height: 100%;
    background-color: var(--menu-color);
    padding: 0.4rem;
    margin-bottom: 1rem;
}

.menu ul{
    margin: 0 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 60px 1fr repeat(3, 100px);
    gap: 0.4rem;
    align-items: flex-end;
    justify-items: center;
}

.menu ul a{
    display: grid;
}

.menu .logoImg{
    justify-self: center;
    max-width: 3rem;
}

.menu ul li:first-child{
    align-self: center;  
}

.menu ul li:nth-child(2){
    align-self: center;
    justify-self:first baseline;
}

.LogoSlogan{
    color: var(--text-white);
}

.LogoSlogan p:first-child{
    font-size: 1.7rem;
    font-weight: 600;
}

.LogoSlogan p:last-child{
    font-size: 0.8rem
}

button.menuButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    padding: 0.25rem;
    padding-top: 0.55rem;
    border-radius: 4px;
    border-style: none;

    height: 30px;
    width: 100px;
    background-color: var(--button-color);
    color: var(--text-white);
}

button.menuButton:hover{
    background-color: var(--button-color-hover);
}

button.menuButton img{
    width: 0.8rem;
    padding-bottom: 0.3rem;
    margin: 0.3rem;
}

main{
    background-color: var(--workspace-color);
    color: var(--text-dim);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
}

.toolsItem{
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr 2fr;
}

.toolsHeader{
    height: 1.5rem;
    padding: 5px 10px;
    border-radius: 3px;


    background-color: var(--panel-color);

    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.toolsHeader img{
    width: 1rem;
}

.toolsSvgFilter{
    filter: invert(72%) sepia(0%) saturate(60%) hue-rotate(28deg) brightness(91%) contrast(97%);
} 

.rangeBar{
    -webkit-appearance: none;
    appearance: none;
}

.p1{
    background-color: var(--text-white);
}
.p2{
    background-color: var(--text-dim);
}
.p3{
    background-color: var(--text-color);
}
.p4{
    background-color: var(--home-color);
}
.p5{
    background-color:var(--flatbox-color);
}
.p6{
    background-color:var(--workspace-color);
}
.p7{
    background-color:var(--menu-color);
}
.p8{
    background-color: var(--panel-color);
}
.p9{
    background-color: var(--title-color);
}


}
